/* Viewport width below 800px */
@media (max-width: 799px) {
  .input-rgbval {
    border: 1pt solid black;
    width: 150px;
    max-width: 150px;
    height: 35px;
    max-height: 35px;
  }

  .sample {
    border: 1pt solid black;
    width: 75px;
    max-width: 75px;
    height: 75px;
    max-height: 75px;
  }
}

/* Viewport width above 800px */
@media (min-width: 800px) {
  .container {  }
}
