/* Viewport width below 800px */
@media (max-width: 799px) {
  .input-rgbval {
    border: 1pt solid black;
    width: 100px;
    max-width: 100px;
    height: 35px;
    max-height: 35px;
  }

  .sample {
    border: 1pt solid black;
    width: 75px;
    max-width: 75px;
    height: 75px;
    max-height: 75px;
  }
}

/* Viewport width above 800px */
@media (min-width: 800px) {
  .container {  }
}

/* ----- Color Input View ----- */
.instructions {
  font-weight: bold;
}

.rules {
  margin-top: 15px;
  text-align: center;
}

.submit {
  width: 100%;
  display: flex;
  justify-content: center;
}

.create-grid {
  align-self: center;
}

/* ----- Navbar ----- */
.fa-heart {
  font-size: 36px;
  color: white;
}

.navbar-brand {
  color: white;
  font-size: 40px;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: #182c4c;
  justify-content: center;
}

/* ----- Grid ----- */
.tile {
  border: 1px solid black;
  width: 50px;
  max-width: 50px;
  height: 50px;
  max-height: 50px;
  display: grid;
  grid-template-columns: 33% 34% 33%;
  grid-template-rows: 33% 34% 33%;
  grid-template-areas:
    ". . ."
    ". dot ."
    ". . ."
}

.grid {
  display: grid;
  grid-template-columns: 50px 50px 50px 50px;
  grid-template-rows: 50px 50px 50px 50px;
}
