/* Viewport width below 800px */
@media (max-width: 799px) {
  .input-rgbval {
    border: 1pt solid black;
    width: 100px;
    max-width: 100px;
    height: 35px;
    max-height: 35px;
  }

  .sample {
    border: 1pt solid black;
    width: 75px;
    max-width: 75px;
    height: 75px;
    max-height: 75px;
  }
}

/* Viewport width above 800px */
@media (min-width: 800px) {
  .input-rgbval {
    border: 1pt solid black;
    width: 100px;
    max-width: 100px;
    height: 35px;
    max-height: 35px;
  }

  .sample {
    border: 1pt solid black;
    width: 75px;
    max-width: 75px;
    height: 75px;
    max-height: 75px;
  }
}

/* ----- Color Input View ----- */
.instructions {
  font-weight: bold;
}

.rules {
  margin-top: 15px;
  text-align: center;
}

.submit {
  width: 100%;
  display: flex;
  justify-content: center;
}

.create-grid {
  align-self: center;
}

/* ----- Navbar ----- */
.fa-heart {
  font-size: 36px;
  color: white;
}

.navbar-brand {
  color: white;
  font-size: 40px;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: #182c4c;
  justify-content: center;
}

/* ----- Grid ----- */
.selected {
  border: 1px solid black;
}

.tile {
  /* border: 1px solid black; */
  width: 50px;
  max-width: 50px;
  height: 50px;
  max-height: 50px;
  /* display: grid;
  grid-template-columns: 33% 34% 33%;
  grid-template-rows: 33% 34% 33%;
  grid-template-areas: */

}

.fa-circle::before {
  grid-area: dot;
  position: absolute;
  top: 1px;
  left: 1px;
  font-size: 15px;
  margin-bottom: 10px;
}

.fa-circle {
  grid-area: dot;
  position: relative;
  color: white;
}

.fixedtile {
  display: grid;
  grid-template-columns: 33% 34% 33%;
  grid-template-rows: 33% 34% 33%;
  grid-template-areas:
    ". . ."
    ". dot ."
    ". . ."
}

.fas {
  font-size: 30px;
}

.restart {
  margin-right: 20px;
}

.back {
  margin-left: 20px;
}

.grid-tools {
  display: flex;
  justify-content: center;
  margin: 15px 0px;
}

.grid {
  border: 1px solid black;
  /* width: 300px; */
  max-width: 302px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 50px 50px 50px 50px 50px 50px;
  grid-template-rows: 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px;
  align-self: center;
}

.grid-container {
  margin-top: 20px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.colortoolcontainer input {
  height: 75px;
  width: 75px;
}

.colortoolcontainer {
  display: flex;
  justify-content: space-around;
}

.selected-color, .selected-color-tl, .selected-color-br, .selected-color-bl {
  width: 100px;
  height: 100px;
  border: 1px solid black;
}

/* .grid-solution {
  border: 1px solid black;
  max-width: 302px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 50px 50px 50px 50px 50px 50px;
  grid-template-rows: 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px;
  align-self: center;
}

.grid-solution-container {
  margin-top: 20px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
} */


/* ----- Winner Banner ----- */
.alertmsg {
  padding: 5px 0;
  margin: 0;
}

.alert-success {
  margin-top: 15px;
  margin-bottom: 15px;
  width: 80%;
  margin-left: 10%;
  display: flex;
  justify-content: center;
  padding: 5px 0px 5px 0px;
}
