/* ----- Phone styling ----- */
@media screen and (max-width: 479px) {
  /* .input-rgbval {
    border: 1pt solid black;
    width: 100px;
    max-width: 100px;
    height: 35px;
    max-height: 35px;
  } */

  .sample {
    border: 1pt solid black;
    width: 75px;
    max-width: 75px;
    height: 75px;
    max-height: 75px;
  }
}

@media screen and (min-width: 480px) {
  /* .input-rgbval {
    border: 1pt solid black;
    width: 100px;
    max-width: 100px;
    height: 35px;
    max-height: 35px;
  } */

  .sample {
    border: 1pt solid black;
    width: 75px;
    max-width: 75px;
    height: 75px;
    max-height: 75px;
  }
}

/* ----- Color Input View ----- */
.btn:focus, .btn:active {
  background: #182c4c;
  color: white;
  border: none;
}

.btn {
  background: #182c4c;
  color: white;
  border: none;
}

.instructionsbtn {
  margin-right: -5px;
  font-weight: 500;
}

.fa-angle-down:before, .fa-angle-up:before {
  font-weight: 501;
  font-size: 20px;
}

.fa-angle-down, .fa-angle-up {
  font-weight: 501;
  font-size: 20px;
}

.rules {
  border: 1px solid black;
  border-radius: 5px;
  margin: 0 10% 15px 10%;
  padding-top: 8px;
  padding-bottom: 8px;
}

.submit {
  width: 100%;
  display: flex;
  justify-content: center;
}

.instructionsbtn {
  /* border: 1px solid black; */
  padding: 4px 4px 4px 4px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 20px;
  align-self: center;
  /* margin-left: 50%; */
}

.rulesbtn-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.create-grid {
  align-self: center;
}

.create-grid:focus, .create-grid:active {
  outline: none !important;
  box-shadow: none !important;
}

.mirror:focus, .mirror:active {
  outline: none !important;
  box-shadow: none !important;
}

/* ----- Navbar ----- */
.fa-heart {
  font-size: 36px;
  color: white;
}

.navbar-brand {
  color: white;
  font-size: 40px;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: #182c4c;
  justify-content: center;
}

/* ----- Grid ----- */
.selected {
  border: 1px solid black;
}

.tile {
  width: 50px;
  /* max-width: 50px; */
  height: 50px;
  /* max-height: 50px; */
}

.fa-circle::before {
  grid-area: dot;
  position: absolute;
  top: 1px;
  left: 1px;
  font-size: 15px;
  margin-bottom: 10px;
}

.fa-circle {
  grid-area: dot;
  position: relative;
  color: white;
}

.fixedtile {
  display: grid;
  grid-template-columns: 33% 34% 33%;
  grid-template-rows: 33% 34% 33%;
  grid-template-areas:
    ". . ."
    ". dot ."
    ". . ."
}

.fas {
  font-size: 30px;
}

.restart {
  margin-right: 20px;
}

.back {
  margin-left: 20px;
}

.grid-tools {
  margin: 15px 0px;
  display: flex;
  justify-content: center;
}

/* .grid:hover {
  transform: scale(1.05);
} */

.grid {
  border: 1px solid black;
  width: 302px;
  height: 502px;
  /* max-width: 302px; */
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 50px 50px 50px 50px 50px 50px;
  grid-template-rows: 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px;
  align-self: center;

  transition: transform 0.5s cubic-bezier(.60,.01,.40,.99);
  transform: scale(1);
}

.grid-container {
  margin-top: 20px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.input-rgbval {
  margin: 3px;
  height: 50px;
  width: 225px;
  max-height: 50px;
  max-width: 225px;
}

.cornericon {
  margin-top: 8px;
}

.corner-input {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.color-input-layout-container {
  width: 90%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
}

.colortoolcontainer {
  display: flex;
  justify-content: space-around;
}

.selected-color, .selected-color-tl, .selected-color-br, .selected-color-bl {
  width: 100px;
  height: 100px;
  border: 1px solid black;
}

/* ----- Winner Banner ----- */
@keyframes rainbow {
  0%, 100%{
    color: red;
    border-color: red;
  }
  14% {
    color: orange;
    border-color: orange;
  }
  29% {
    color: yellow;
    border-color: yellow;
  }
  43% {
    color: green;
    border-color: green;
  }
  57% {
    color: blue;
    border-color: blue;
  }
  71% {
    color: indigo;
    border-color: indigo;
  }
  86% {
    color: violet;
    border-color: violet;
  }
}

.winner-alert {
  border: 1px solid black;
  background-color: white;
  animation: rainbow 2s infinite;
  width: 270px;
  height: 50px;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 12px 20px;
  justify-content: center;
  bottom: 506px;
  display: grid;
  grid-template-columns: 10% 80% 10%;
  grid-template-rows: 33% 34% 33%;
  grid-template-areas:
    ". . ."
    ". message ."
    ". . ."
}

.winner-banner {
  width: 302px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* ----- Solution Grid ----- */
.solution {
  border: 1px solid black;
  width: 302px;
  height: 502px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 50px 50px 50px 50px 50px 50px;
  grid-template-rows: 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px;
  align-self: center;
  position: absolute;
  bottom: 106px;
  display: none;
}

.grid-solution {
  margin-top: 20px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

/* ----- Hint ----- */
.progress-bar {
  background-color: #182c4c;
}

.progress {
  height: 6px;
  width: 302px;
  align-self: center;
  border-radius: 0;
  margin: 0;
}

.toolbelt {
  width: 302px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
